<p class="content-padded">Thanks for downloading Ratchet. This is an example HTML page that's linked up to compiled Ratchet CSS and JS, has the proper meta tags and the HTML structure. Need some more help before you start filling this with your own content? Check out some Ratchet resources:</p>
<form class="content-padded">
  <input type="text" placeholder="email">
  <input type="password">
  <button class="btn btn-positive btn-block">Please login</button>
</form>
